<div id="<%= dom_id research_consultancy %>">
  <p>
    <strong>Project name:</strong>
    <%= research_consultancy.project_name %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= research_consultancy.faculty_id %>
  </p>

  <p>
    <strong>Sanctioned amount:</strong>
    <%= research_consultancy.sanctioned_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= research_consultancy.status %>
  </p>

  <p>
    <strong>Project type:</strong>
    <%= research_consultancy.project_type %>
  </p>

</div>
