<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MCA Courses | Department of MACS | NITK Surathkal</title>
    <link rel="shortcut icon" href="/assets/favicon-w.png" type="image/x-icon">

    <link rel='stylesheet' href='plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />

    <link rel='stylesheet' href='plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />

    <link rel='stylesheet' href='plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />

    <link rel='stylesheet' href='/stylesheets/style-core.css' type='text/css' media='all' />
    
    <link rel='stylesheet' href='/stylesheets/kingster-style-custom.css' type='text/css' media='all' />
    
    <!-- custom css -->
    <link rel='stylesheet' href='/stylesheets/custom-css.css' type='text/css' media='all' />
    
    <%= stylesheet_link_tag 'style-core.css', :media => "all"  %>
    <%= stylesheet_link_tag 'kingster-style-custom.css', :media => "all"  %>
    <%= stylesheet_link_tag 'custom-css.css', :media => "all"  %>


    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />

</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">


            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption">Course List</div>
                        <h1 class="kingster-page-title">Master of Computer Applications (MCA)</h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-content-container kingster-container">
                    <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">
                        <div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-wrapper ">
                                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">PROGRAMME CORE COURSES (Pc)</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                                                    <div id="courses">
                                                        <% @courses.each do |course| %>
                                                            <% if course.programme == "MCA" %>
                                                                <div class="gdlr-core-course-item-list sem<%= course.semester %>" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" ><%= course.course_code %></span><span class="gdlr-core-course-item-title gdlr-core-skin-title" ><%= course.course_name %></span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : <%= course.credits %></i></a></div>
                                                            <% end %>
                                                        <% end %>
                                                    </div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA601</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Problem Solving and Programming</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA602</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Discrete Mathematical Structures</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA603</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Organization Architecture</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA604</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Problem Solving and Programming Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA605</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Architecture Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >SM703</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Accounting and Financial Management</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA606</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Data Structures and Algorithms</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA607</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DataBase Management System</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA608</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computational Mathematics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA609</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Object Oriented Programming</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA610</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DSA Lab Using OOP Concept</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA611</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DataBase Management System Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA612</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Operating System</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA613</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Software Engineering</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA614</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Introduction to Web Technology</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA615</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Operating System Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA616</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Software Engineering Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA617</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Probability and Statistics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA618</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Graphics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA619</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Network</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >SM612</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Managerial Economics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA620</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Graphics Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA621</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Networks Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA622</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Application Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Elective Courses (ele)</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 1</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Machine Learning</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 2</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4"><a class="gdlr-core-course-item-link" href="#course/advanced-cost-accounting-and-management/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 3</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4"><a class="gdlr-core-course-item-link" href="#course/auditing/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 4</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 5</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 6</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#course/advanced-cost-accounting-and-management/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 7</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#course/auditing/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 8</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Mandatory Learning Courses (mlc)</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA690</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Seminar 1</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA691</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Seminar 2</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                </div>
                                            </div>

                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Major Project (mp)</h3></div>
                                                </div>
                                            </div>

                                            <!-- Major Project Section -->
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list sem6"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA699</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Major Project</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" > Credits : 10</i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" kingster-sidebar-right kingster-column-20 kingster-line-height kingster-line-height">
                            <div class="kingster-sidebar-area kingster-item-pdlr">
                                <div id="text-18" class="widget widget_text kingster-widget">
                                    <div class="textwidget">
                                        <div class="gdlr-core-widget-box-shortcode " style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                            <div class="select-container">
                                                <p style="font-size: 20px;">Select Semester</p>
                                                <select name="semester" id="semester" style="font-size: 20px;" onchange="showFilteredCourse()">
                                                    <option value="any" selected>Any</option>
                                                    <option value="sem1">Semester I</option>
                                                    <option value="sem2">Semester II</option>
                                                    <option value="sem3">Semester III</option>
                                                    <option value="sem4">Semester IV</option>
                                                    <option value="sem5">Semester V</option>
                                                    <option value="sem6">Semester VI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <%= javascript_include_tag 'js/jquery/jquery.js', 'js/jquery/jquery-migrate.min.js', 'plugins/goodlayers-core/plugins/combine/script.js' %>

    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>

    <%= javascript_include_tag 'plugins/goodlayers-core/include/js/page-builder.js', 'js/jquery/ui/effect.min.js' %>

    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>

    <%# custom-js file %>
    <%= javascript_include_tag 'js/plugins.min.js', "js/custom-js.js" %>
</body>
</html>
