<div id="<%= dom_id publication %>">
  <p>
    <strong>Name:</strong>
    <%= publication.name %>
  </p>

  <p>
    <strong>Publish in:</strong>
    <%= publication.publish_in %>
  </p>

  <p>
    <strong>Reigon:</strong>
    <%= publication.reigon %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= publication.url %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= publication.year %>
  </p>

</div>
