<div id="<%= dom_id faculty %>">
  <p>
    <strong>Dp:</strong>
    <%= faculty.dp %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= faculty.name %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= faculty.designation %>
  </p>

  <p>
    <strong>Date of joining:</strong>
    <%= faculty.date_of_joining %>
  </p>

  <p>
    <strong>Professional experience:</strong>
    <%= faculty.professional_experience %>
  </p>

  <p>
    <strong>Academic background:</strong>
    <%= faculty.academic_background %>
  </p>

  <p>
    <strong>Areas of interest:</strong>
    <%= faculty.areas_of_interest %>
  </p>

  <p>
    <strong>Visits abroad:</strong>
    <%= faculty.visits_abroad %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= faculty.remarks %>
  </p>

</div>
