<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Facilities | Department of MACS | NITK Surathkal</title>
    <link rel="shortcut icon" href="/assets/favicon-w.png" type="image/x-icon">

    <link rel='stylesheet' href='plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />

    <%= stylesheet_link_tag 'style-core.css', :media => "all"  %>
    <%= stylesheet_link_tag 'kingster-style-custom.css', :media => "all"  %>
    <%= stylesheet_link_tag 'custom-css.css', :media => "all"  %>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />

</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">


            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption">Department of MACS</div>
                        <h1 class="kingster-page-title">Lab Facilities</h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-content-container kingster-container">
                    <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">
                        <div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-wrapper ">
                                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list-info">
                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >1</span>Servers</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Dell PowerEdge R740 GPU Server :  2 x Intel Gold 6240R, 320 GB RAM, 4 x 1.2 TB SAS hard drive, Nvidia Tesla V100 32 GB GPU - 01</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">HP ML-350 G9 Server : Intel Xeon Processor 64 GB RAM, 4TB Storage Server with  Windows  2016 Server and CLA - 01</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">HP ProLiant DL580 G5 Server  Enterprise class Server-02</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">HP ProLiant ML570 G4 Server -02</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">IOMega i*200 4TB NAS -01</span></div>
                                                            
                                                        </div>
                                                        <!-- <a href="#" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a> -->
                                                    </div>
                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >2</span>Workstations</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Dell Precision High End Workstation T7920   -02</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Dell Precision High End Workstation T5810   -04</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Dell Precision High End Workstation T1700   -06 </span></div>
                                                        </div>
                                                        <!-- <a href="#" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a> -->
                                                    </div>
                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >3</span>Desktops</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">HP ProDesk 600 G6 - 50</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Dell Optiplex 5090 - 24</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Dell Optiplex 9010 - 4 </span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">HP Compaq Elite 8300 Series   - 139</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">HP Pro 3090 MicroTower - 15</span></div>
                                                        </div>
                                                        <!-- <a href="#" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a> -->
                                                    </div>
                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >4</span>Printers</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Cannon IR2745 Photocopier</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Ricoh Aficio 3035(Scan/Xerox/Print) </span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">HP Color Laser Jet CP1515n </span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">-</span><span class="gdlr-core-tail">Epson L220 Inkjet </span></div>
                                                        </div>
                                                        <!-- <a href="#" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a> -->
                                                    </div>
                                                    
                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >All the systems are loaded with Window 8/10, Ubuntu( Dual OS) and connected to Campus wide Network and Internet.</span>
                                                        </h3>
                                                    </div>
                                                    <!-- <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >ITT203</span>Introduction to Taxation</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Department : </span><span class="gdlr-core-tail">Business Adminstration</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Campus : </span><span class="gdlr-core-tail">Adman's Hall</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Bruce Willis (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Spring 2019</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">3.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture, Online</span></div>
                                                        </div><a href="#" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a>
                                                    </div> -->
                                                    <!-- <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >ASC103</span>Accounting Systems and Auditing</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Department : </span><span class="gdlr-core-tail">Business Adminstration</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Campus : </span><span class="gdlr-core-tail">KU2 Hill</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Graduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Angelina Jones (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Spring 2019</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a href="#" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>
                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >BPS201</span>Business Processes and Controls</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Department : </span><span class="gdlr-core-tail">Business Adminstration</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Campus : </span><span class="gdlr-core-tail">Adman's Hall</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Bruce Willis (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Spring 2019</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">2.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture, Online</span></div>
                                                        </div><a href="#" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>
                                                    <div class="gdlr-core-pagination  gdlr-core-style-round gdlr-core-left-align"><span aria-current='page' class='page-numbers current'>1</span> <a class='page-numbers' href='page/2/index.html'>2</a>
                                                        <a class="next page-numbers" href="page/2/index.html"></a>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" kingster-sidebar-right kingster-column-20 kingster-line-height kingster-line-height">
                            <div class="kingster-sidebar-area kingster-item-pdlr">
                                <div id="text-18" class="widget widget_text kingster-widget">
                                    <div class="textwidget">
                                        <div class="gdlr-core-widget-box-shortcode " style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ; text-align: center;">
                                            <span class="lab-img-container">
                                                <p style="font-size: 20px;">MACS Lab Gallery</p>
                                                <img title="MACS Lab Building" src="/assets/macs-labs.jpg" alt="mac lab 1" style="outline: 1px solid white; border-radius: 5px; padding: 20px; margin-bottom: 10px;">
                                                <img title="Computer Lab" src="/assets/mca-labs-3.png" alt="mac lab 3" style="outline: 1px solid white; border-radius: 5px; padding: 20px; margin-bottom: 10px;"> 
                                                <img title="Computer Lab" src="/assets/mca-labs-4.png" alt="mac lab 4" style="outline: 1px solid white; border-radius: 5px; padding: 20px; margin-bottom: 10px;">
                                                <img title="Trophies Won By Students of MACS Dept." src="/assets/mca-labs-2.png" alt="mac lab 2" style="outline: 1px solid white; border-radius: 5px; padding: 20px; margin-bottom: 10px;">

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%= javascript_include_tag 'js/jquery/jquery.js', 'js/jquery/jquery-migrate.min.js', 'plugins/goodlayers-core/plugins/combine/script.js' %>

    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>

    <%= javascript_include_tag 'plugins/goodlayers-core/include/js/page-builder.js', 'js/jquery/ui/effect.min.js' %>

    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>

    <%= javascript_include_tag 'js/plugins.min.js' %>

</body>
</html>
