<div id="<%= dom_id event %>">
  <p>
    <strong>Date time:</strong>
    <%= event.date_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Organizers:</strong>
    <%= event.organizers %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= event.coordinator %>
  </p>

  <p>
    <strong>Sponsors:</strong>
    <%= event.sponsors %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type %>
  </p>

</div>
