<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MCA | Department of MACS | NITK Surathkal</title>
    <link rel="shortcut icon" href="/assets/favicon-w.png" type="image/x-icon">

    <link rel='stylesheet' href='plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />

    <%= stylesheet_link_tag 'style-core.css', :media => "all"  %>
    <%= stylesheet_link_tag 'kingster-style-custom.css', :media => "all"  %>
    <%= stylesheet_link_tag 'custom-css.css', :media => "all"  %>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />

</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">

            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption"><b>MACS</b></div>
                        <h1 class="kingster-page-title">Events
                        </h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-content-container kingster-container">
                    <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">
                        <div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-wrapper ">
                                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                            <div class="gdlr-core-pbf-element">
                                              <!--  <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">R&D Projects (Ongoing and Sanctioned)</h3></div>
                                                </div> -->
                                            </div>
                                           <!--
                                             <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA601</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Problem Solving and Programming</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA602</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Discrete Mathematical Structures</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA603</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Organization Architecture</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA604</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Problem Solving and Programming Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA605</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Architecture Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >SM703</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Accounting and Financial Management</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA606</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Data Structures and Algorithms</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA607</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DataBase Management System</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA608</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computational Mathematics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA609</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Object Oriented Programming</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA610</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DSA Lab Using OOP Concept</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA611</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DataBase Management System Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA612</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Operating System</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA613</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Software Engineering</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA614</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Introduction to Web Technology</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA615</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Operating System Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA616</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Software Engineering Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA617</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Probability and Statistics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA618</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Graphics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA619</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Network</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >SM612</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Managerial Economics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA620</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Graphics Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA621</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Networks Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA622</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Application Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Elective Courses (ele)</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 1</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Machine Learning</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 2</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4"><a class="gdlr-core-course-item-link" href="#course/advanced-cost-accounting-and-management/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 3</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4"><a class="gdlr-core-course-item-link" href="#course/auditing/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 4</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 5</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 6</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#course/advanced-cost-accounting-and-management/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 7</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#course/auditing/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 8</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Mandatory Learning Courses (mlc)</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA690</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Seminar 1</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA691</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Seminar 2</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                </div>
                                            </div>

                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Major Project (mp)</h3></div>
                                                </div>
                                            </div>
                                            -->
                                            <!-- Major Project Section -->
                                            <br>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Completed Workshops</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px " align = "justify" >  
                                                        <ul>
                                                            <li style="font-size: 20px "> Workshop on “Inverse Problems and Applications”, March 6 to 8, 2023, Sponsored by SERB. These workshops were organized by Prof. Santhosh George and P. Jidesh.
                                                            </li>
                                                            <li style="font-size: 20px ">One day Workshop on “National Mathematics Day - 2022”, This workshop was attended by 45 College Teachers and 35 Research Scholars, 22nd Dec 2022. This workshop was organized by Sam Johnson P, MACS Department, NITK.
                                                            </li>
                                                            <li style="font-size: 20px ">2020 IEEE DISCOVER October 30-31, 2020. Organizers: Dr.Pushparaj Shetty D., Associate professor, NITK, Dr. Vasudeva, Professor SMVITM, Bantakal
                                                            </li>
                                                            <li style="font-size: 20px ">One day Webinar Series on Python Programming (in collaboration with Dell EMC) held on 31st October, 2020., Organizers: Dr. Vishwanath K. P, Dr. Chandhini G, Dr. Mythili Priyadarshini, Dr. Y. Santhi Sheela
                                                            </li>
                                                            <li style="font-size: 20px ">STTP on Cybersecurity and deep learning applications held during July 15-22 July 2020; Coordinators: Dr. Jothi Ramalingam, Dr M Anandkumar & Dr Biju R Mohan
                                                            </li>
                                                            <li style="font-size: 20px ">Short term course on "High Performance Computing" Sept. 13-14, 2019
                                                            </li>
                                                            <li style="font-size: 20px ">A Five-days Workshop on Inverse problems and Applications, July  9-13, 2018, Sponsored by TEQIP III, Coordinator: Dr. Santhosh George
                                                            </li>
                                                            <li style="font-size: 20px ">A six-day Workshop on Algebraic Graph Theory, January  25-30, 2018, Coordinators: Dr.Senthil Tilak, Dr. Pushparaj Shetty  and Dr.Srinivas Rao Kola  Sponsored by NBHM-DAE & CSIR, GOI. 
                                                            </li>
                                                            <li style="font-size: 20px ">One day workshop on Design Thinking@ NITK by DELL R&D India,Nov 04, 2017, Saturday.Coordinators: Dr. Pushparaj Shetty D
                                                            </li>
                                                            <li style="font-size: 20px ">ONE DAY NATIONAL WORKSHOP ON Cyberspace Security : Digital India Context,:Saturday,  October 17, 2015,Coordinators: Dr. Pushparaj Shetty D and Dr. Jidesh P, Sponsored by IEEE Computer Society Bangalore Section
                                                            </li>
                                                            <li style="font-size: 20px ">Workshop on Topological Dynamics, 10 - 12 December 2015,Coordinators: Dr. V Murugan and Dr. P Sam Johnson,Sponsored by NATIONAL BOARD FOR HIGHER MATHEMATICS(NBHM)
                                                            </li>
                                                            <li style="font-size: 20px ">TWO DAY NATIONAL WORKSHOP ON  Linux and FOSS(Free and Open  Source Software) on May 09-10,2015. Coordinators: Dr. Pushparaj Shetty D. and Dr. Jidesh,  Sponsored by TEQIP-II
                                                            </li>
                                                            <li style="font-size: 20px ">Workshop on "Functional Analysis and Operator Algebras", Coordinators: Dr. P. Sam Johnson and Dr. V. Murugan, 02-07 June 2014, Sponsored by NBHM and NITK, Surathkal.
                                                            </li>
                                                            <li style="font-size: 20px ">Fifth Meeting of the DST Expert Committee on Physical and Mathematical Science & Group Monitoring Workshop on Fast Track Proposals, (Local organizer: Dr. B.R. Shankar) 2,3 & 4 January, 2014.
                                                            </li>
                                                            <li style="font-size: 20px ">Workshop on Number Theory and Cryptology, (Coordinator: Dr. B.R.Shankar), 13-14 September 2013.
                                                            </li>
                                                            <li style="font-size: 20px ">Workshop on Spectral Analysis and Applications, Coordinators: Dr. P. Sam Johnson and Dr. V. Murugan, 14-16 February 2013, Sponsored by NBHM and NITK, Surathkal.
                                                            </li>
                                                            <li style="font-size: 20px ">Research Promotion Workshop on Graph and Geometric Algorithms hosted by Dr. S. M. Hegde, Dr. S. S. Kamath and Mr. Jidesh P. with NBHM, 10-12 January, 2012
                                                            </li>
                                                            <li style="font-size: 20px ">Summer School on Information Storage Management hosted by Dr. R. J. D'Souza, 15-26 June, 2009.
                                                            </li>
                                                            <li style="font-size: 20px ">Workshop on Effective Teaching hosted by Dr. C. Krishna Mohan under TEQIP, 03-04 March, 2007.
                                                            </li>
                                                            <li style="font-size: 20px ">National Workshop on Complex Analysis hosted by Dr. S. S. Kamath, 01-05 June, 2007.
                                                            </li>
                                                            <li style="font-size: 20px ">SDP on Information Security hosted by Dr. R. J. D'Souza, 13-25 March, 2006
                                                            </li>
                                                            <li style="font-size: 20px ">STTP on Applications of Finite Element Methods, hosted by Dr. A. Kandasamy 06-18 December, 2004
                                                            </li>

                                                        </ul>
                                                    </p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Completed Conferences</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px " align = "justify" > 
                                                        <ul>
                                                            <li style="font-size: 20px "><a href ="http://imsct2014.nitk.ac.in/">International  Conference on  Interdisciplinary Mathematical, Statistical and Computational Techniques</a>  18-20th December 2014
                                                            </li>
                                                            <li style="font-size: 20px ">22nd Annual Conference of Ramanujan Mathematical Society, hosted by Dr. S. S. Kamath, 06-08 June, 2007
                                                            </li>
                                                            <li style="font-size: 20px ">14th International Conference on Advanced Computing and Communication, Finance Chair: Dr. A. Kandasamy, 20-23, December, 2006.
                                                            </li>
                                                            <li style="font-size: 20px ">30th National Conference on Fluid Mechanics and Fluid Power hosted by Dr. A. Kandasamy 11-13 December, 2003.
                                                            </li>
                                                        </ul>
                                                    </p></div>
                                                </div>
                                              
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Upcoming Workshops</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px" align = "justify" > 
                                                        
                                                    </p></div>
                                                </div>

                                               <!--
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Expected Outcomes</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px" align = "justify" id="btech-programmes-expected-outcomes"> 
                                                        <ul>
                                                            <li style="font-size: 20px ">To understand the role of Mathematics in Scientific Computing, Analysis of Data and Data Science. 
                                                            </li>
                                                            <li style="font-size: 20px ">To obtain a strong foundation in Mathematics that is both relevant and contemporary. 
                                                            </li>
                                                            <li style="font-size: 20px ">To apply such acquired knowledge to solve real-world problems in computing, gain proficiency and efficiency in the analysis and application of Data Science. 
                                                            </li>
                                                            <li style="font-size: 20px ">To provide opportunities for students to customize their studies in line with NEP-2020. 
                                                            </li>
                                                            <li style="font-size: 20px ">To sync with the needs of the industry. 
                                                            </li>
                                                            <li style="font-size: 20px ">To create scope for higher studies and research.
                                                            </li>

                                                        </ul>
                                                    </p></div>
                                                    <p style="font-size: 20px" align = "justify">To download the Btech (CDS) Curriculum, <a href="https://macs.nitk.ac.in/sites/default/files/CurriculumBTechCDS2022MACSmar20.pdf"><u>click here.</u></a></p>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!--
                        <div class=" kingster-sidebar-right kingster-column-20 kingster-line-height kingster-line-height">
                            <div class="kingster-sidebar-area kingster-item-pdlr">
                                <div id="text-18" class="widget widget_text kingster-widget">
                                    <div class="textwidget">
                                        <div class="gdlr-core-widget-box-shortcode " style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                            <div class="select-container">
                                                <p style="font-size: 20px;">Select Semester</p>
                                                <select name="semester" id="semester" style="font-size: 20px;" onchange="showFilteredCourse()">
                                                    <option value="any" selected>Any</option>
                                                    <option value="sem1">Semester I</option>
                                                    <option value="sem2">Semester II</option>
                                                    <option value="sem3">Semester III</option>
                                                    <option value="sem4">Semester IV</option>
                                                    <option value="sem5">Semester V</option>
                                                    <option value="sem6">Semester VI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%= javascript_include_tag 'js/jquery/jquery.js', 'js/jquery/jquery-migrate.min.js', 'plugins/goodlayers-core/plugins/combine/script.js' %>

    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>
 
    <%= javascript_include_tag 'plugins/goodlayers-core/include/js/page-builder.js', 'js/jquery/ui/effect.min.js' %>

    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>

    <%# custom-js file %>
    <%= javascript_include_tag 'js/plugins.min.js', "js/custom-js.js" %>
</body>
</html>