<div id="<%= dom_id research_scholar %>">
  <p>
    <strong>Dp:</strong>
    <%= research_scholar.dp %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= research_scholar.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= research_scholar.category %>
  </p>

  <p>
    <strong>Supervisors:</strong>
    <%= research_scholar.supervisors_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= research_scholar.email %>
  </p>

</div>
