<div id="<%= dom_id contract_staff %>">
  <p>
    <strong>Dp:</strong>
    <%= contract_staff.dp %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= contract_staff.name %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= contract_staff.designation %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= contract_staff.qualification %>
  </p>

</div>
