<%= form_with(model: contract_staff) do |form| %>
  <% if contract_staff.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contract_staff.errors.count, "error") %> prohibited this contract_staff from being saved:</h2>

      <ul>
        <% contract_staff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :dp, style: "display: block" %>
    <%= form.text_field :dp %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :designation, style: "display: block" %>
    <%= form.text_field :designation %>
  </div>

  <div>
    <%= form.label :qualification, style: "display: block" %>
    <%= form.text_field :qualification %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
