<p style="color: green"><%= notice %></p>

<%= render @contract_staff %>

<div>
  <%= link_to "Edit this contract staff", edit_contract_staff_path(@contract_staff) %> |
  <%= link_to "Back to contract staffs", contract_staffs_path %>

  <%= button_to "Destroy this contract staff", @contract_staff, method: :delete %>
</div>
