<div id="<%= dom_id assistant_lecturer %>">
  <p>
    <strong>Dp:</strong>
    <%= assistant_lecturer.dp %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= assistant_lecturer.name %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= assistant_lecturer.qualification %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= assistant_lecturer.email %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= assistant_lecturer.contact_no %>
  </p>

</div>
