<div id="<%= dom_id course %>">
  <p>
    <strong>Course code:</strong>
    <%= course.course_code %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= course.semester %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= course.category %>
  </p>

  <p>
    <strong>Programme:</strong>
    <%= course.programme %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course.credits %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= course.content %>
  </p>

  <p>
    <strong>References:</strong>
    <%= course.references %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= course.department %>
  </p>

</div>
