<!DOCTYPE html>
<html>
  <head>
    <title>MACSWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <%# MOBILE HEADER %>
  <div class="kingster-mobile-header-wrap">
      <div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation " id="kingster-mobile-header">
          <div class="kingster-mobile-header-container kingster-container clearfix">
              <div class="kingster-logo  kingster-item-pdlr">
                  <div class="kingster-logo-inner">
                      <a class="" href="index.html"><img src="/assets/logo-mobile.jpg" alt="" /></a>
                  </div>
              </div>
              <div class="kingster-mobile-menu-right">
                  <div class="kingster-main-menu-search" id="kingster-mobile-top-search"><i class="fa fa-search"></i></div>
                  <div class="kingster-top-search-wrap">
                      <div class="kingster-top-search-close"></div>
                      <div class="kingster-top-search-row">
                          <div class="kingster-top-search-cell">
                              <form role="search" method="get" class="search-form" action="#">
                                  <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s">
                                  <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                  <input type="submit" class="search-submit" value="Search">
                                  <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="kingster-mobile-menu"><a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu"><span></span></a>
                      <div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
                          <ul id="menu-main-navigation" class="m-menu">
                              <li class="menu-item menu-item-home current-menu-item menu-item-has-children"><a href="/">Home</a>
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="#">Programmes</a>
                                  <ul class="sub-menu">
                                      
                                      <li class="menu-item menu-item-has-children"><a href="blog-full-right-sidebar-with-frame.html">Post Graduate</a>
                                          <ul class="sub-menu">
                                                      <li class="menu-item"><a href="blog-full-right-sidebar-with-frame.html">MCA</a></li>
                                                      <li class="menu-item"><a href="blog-full-left-sidebar-with-frame.html">MTech. CDS</a></li>
                                          </ul>
                                      </li>
                                      <li class="menu-item menu-item-has-children"><a href="blog-grid-3-columns-no-space.html">Undergraduate</a>
                                                  <ul class="sub-menu">
                                                      <li class="menu-item"><a href="blog-grid-2-columns.html">BTech. CDS</a></li>
                                                      
                                                  </ul>
                                      </li>
                                      <li class="menu-item menu-item-has-children"><a href="blog-grid-3-columns-no-space.html">Doctoral</a>
                                          <ul class="sub-menu">
                                              <li class="menu-item"><a href="blog-grid-2-columns.html">Full Time Programme</a></li>
                                              <li class="menu-item"><a href="blog-grid-2-columns.html">Part Time Programme</a></li>
                                              
                                          </ul>
                              </li>
                                  </ul>
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="#">Courses</a>
                                  <ul class="sub-menu">
                                      
                                      <li class="menu-item menu-item-has-children"><a href="blog-full-right-sidebar-with-frame.html">Btech. CDS</a>
                                          
                                      </li>
                                      <li class="menu-item menu-item-has-children"><a href="blog-grid-3-columns-no-space.html">MTech. CDS</a>
                                                  
                                      </li>
                                      <li class="menu-item menu-item-has-children"><a href="blog-grid-3-columns-no-space.html">MCA</a>     
                                      </li>
                                      <li class="menu-item menu-item-has-children"><a href="blog-grid-3-columns-no-space.html">PhD</a>     
                                      </li>
                                  </ul>
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="/faculties">People</a>  
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="#">Placements</a>  
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="#">Achievements</a>  
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="/facilities/index">Facilities</a>  
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="#">Research / Consultancy</a>  
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="/events">Events</a>  
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="contact.html">Contact</a>  
                              </li>                               
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="kingster-body-outer-wrapper ">
      <div class="kingster-body-wrapper clearfix  kingster-with-frame">
          <!-- TOP BAR -->
          <div class="kingster-top-bar">
              <div class="kingster-top-bar-background"></div>
              <div class="kingster-top-bar-container kingster-container ">
                  <div class="kingster-top-bar-container-inner clearfix">
                      <div class="kingster-top-bar-left kingster-item-pdlr"><i class="fa fa-envelope-open-o" id="i_fd84_0"></i> hodmacs@nitk.edu.in <i class="fa fa-phone" id="i_fd84_1"></i> +91-0824-2474048</div>
                      <div class="kingster-top-bar-right kingster-item-pdlr">
                          <ul id="kingster-top-bar-menu" class="sf-menu kingster-top-bar-menu kingster-top-bar-right-menu">
                              <li class="menu-item kingster-normal-menu"><a href="https://nitk.ac.in" target="_blank ">Visit NITK Main Site</a></li>
                              <li class="menu-item kingster-normal-menu"><a href="maintenance.html">Alumni</a></li>
                          </ul>
                          <div class="kingster-top-bar-right-social"></div><a class="kingster-top-bar-right-button" href="#">Support MACS</a></div>
                  </div>
              </div>
          </div>
          <%# HEADER %>
          <header class="kingster-header-wrap kingster-header-style-plain  kingster-style-menu-right kingster-sticky-navigation kingster-style-fixed" data-navigation-offset="75px">
              <div class="kingster-header-background"></div>
              <div class="kingster-header-container  kingster-container">
                  <div class="kingster-header-container-inner clearfix">
                      <!-- header banner image -->
                      <div class="kingster-logo  kingster-item-pdlr">
                          <div class="kingster-logo-inner">
                              <a class="" href="index.html"><img src="/assets/logo.jpg" alt="" /></a>
                          </div>
                      </div>
                      <!-- header navigation items -->
                      <div class="kingster-navigation kingster-item-pdlr clearfix ">
                          <div class="kingster-main-menu" id="kingster-main-menu">
                              <ul id="menu-main-navigation-1" class="sf-menu">
                                  
                                  <li class="menu-item menu-item-home current-menu-item kingster-normal-menu">
                                      <a href="/" class="sf-with-ul-pre">Home</a>   
                                  </li>
                                  
                                  <li class="menu-item menu-item-has-children kingster-mega-menu"><a href="#" class="sf-with-ul-pre">Programmes</a>
                                      <div class="sf-mega sf-mega-full">
                                          <ul class="sub-menu">
                                              <li class="menu-item menu-item-has-children" data-size="15"><a href="maintenance.html" class="sf-with-ul-pre">Doctoral</a>
                                                  <ul class="sub-menu">
                                                      <li class="menu-item"><a href="maintenance.html">Full Time Programme</a></li>
                                                      <li class="menu-item"><a href="maintenance.html">Part Time Programme</a></li>
                                                  </ul>
                                              </li>
                                              <li class="menu-item menu-item-has-children" data-size="15"><a class="sf-with-ul-pre">Post Graduate</a>
                                                  <ul class="sub-menu">
                                                      <li class="menu-item"><a href="/mtech_programme/index">MTech.</a></li>
                                                      <li class="menu-item"><a href="/mca_programme/index">MCA</a></li>
                                                  </ul>
                                              </li>
                                              <li class="menu-item menu-item-has-children" data-size="15"><a class="sf-with-ul-pre">Undergraduate</a>
                                                  <ul class="sub-menu">
                                                      <li class="menu-item"><a href="/btech_programmes/index">BTech. CDS</a></li>
                                                  </ul>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  
                                  <li class="menu-item menu-item-has-children kingster-normal-menu"><a href="#" class="sf-with-ul-pre">Courses</a>
                                      <ul class="sub-menu">
                                          <li class="menu-item" data-size="60"><a href="/btech_courses/index">B.Tech</a></li>
                                          <li class="menu-item" data-size="60"><a href="/mtech_courses/index">M.Tech(CDS)</a></li>
                                          <li class="menu-item" data-size="60"><a href="/mca_courses/index">M.C.A</a></li>
                                          <li class="menu-item" data-size="60"><a href="course-list-2.html">Ph.D</a></li>
                                      </ul>
                                  </li>

                                  <li class="menu-item kingster-normal-menu"><a href="/faculties">People</a></li>
                                  
                                  <li class="menu-item kingster-normal-menu"><a href="maintenance.html">Placements</a></li>
                                  
                                  <li class="menu-item kingster-normal-menu"><a href="maintenance.html">Achievements</a></li>
                                  
                                  <li class="menu-item kingster-normal-menu"><a href="facilities/index">Facilities</a></li>
                                  
                                  <li class="menu-item kingster-normal-menu"><a>Research / Consultancy</a>
                                      <ul class="sub-menu">
                                          <li class="menu-item" data-size="60"><a href="R&D.html">Research & Development</a></li>
                                          <li class="menu-item" data-size="60"><a href="consultancy.html">Consultancy</a></li>
                                      </ul>
                                  </li>
                                  
                                  <li class="menu-item kingster-normal-menu"><a href="/events">Events</a></li>
                                  
                                  <li class="menu-item kingster-normal-menu"><a href="contact.html">Contact</a></li>
                              </ul>
                              
                              <div class="kingster-navigation-slide-bar" id="kingster-navigation-slide-bar"></div>
                          </div>
                          <div class="kingster-main-menu-right-wrap clearfix ">
                              <div class="kingster-main-menu-search" id="kingster-top-search"><i class="icon_search"></i></div>
                              <div class="kingster-top-search-wrap">
                                  <div class="kingster-top-search-close"></div>
                                  <div class="kingster-top-search-row">
                                      <div class="kingster-top-search-cell">
                                          <form role="search" method="get" class="search-form" action="#">
                                              <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s">
                                              <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                              <input type="submit" class="search-submit" value="Search">
                                              <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </header>

    <%= yield %>

    <%# Footer starts here... %>
    <footer>
        <div class="kingster-footer-wrapper ">
            <div class="kingster-footer-container kingster-container clearfix">
                <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                    <div id="text-2" class="widget widget_text kingster-widget">
                        <div class="textwidget">
                            <p><img src="/assets/footer-logo.png" alt="" />
                                <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_10"></span>
                                <br /> Dr. R. Madhusudhan  
                                <br /> Associate Professor 
                                <br /> Head of Department MACS, 
                                <br />NITK Surathkal
                                <br /> NH 66, Srinivasnagar
                                
                                
                                <br /> Surathkal, Mangalore
                                 <br />Karnataka 575025
                                 </p>
                            <p><span id="span_1dd7_11">+91-824-2474048</span>
                                <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_12"></span>
                                <br /> <a id="a_1dd7_8" href="mailto:admin@kingsteruni.edu">hodmacs@nitk.edu.in</a></p>
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_111"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                    <div id="gdlr-core-custom-menu-widget-2" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                        <h3 class="kingster-widget-title">Our Department</h3><span class="clear"></span>
                        <div class="menu-our-campus-container">
                            <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                <li class="menu-item"><a href="#">Programmes</a></li>
                                <li class="menu-item"><a href="#">Courses</a></li>
                                <li class="menu-item"><a href="/faculties">People</a></li>
                                <li class="menu-item"><a href="#">Placements</a></li>
                                <li class="menu-item"><a href="/events">Events</a></li>
                                <li class="menu-item"><a href="#">Achievements</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                    <div id="gdlr-core-custom-menu-widget-3" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                        <h3 class="kingster-widget-title">Amenities</h3><span class="clear"></span>
                        <div class="menu-campus-life-container">
                            <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                <li class="menu-item"><a href="#">Labs</a></li>
                                <li class="menu-item"><a href="#">Faculty Offices</a></li>
                                <li class="menu-item"><a href="#">Research Scholars Room</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                    <div id="gdlr-core-custom-menu-widget-4" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                        <h3 class="kingster-widget-title">Academics</h3><span class="clear"></span>
                        <div class="menu-academics-container">
                            <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                <li class="menu-item"><a href="#">Academic Calendar</a></li>
                                <li class="menu-item"><a href="#">Class Schedules</a></li>
                                <li class="menu-item"><a href="#">Exam Papers</a></li>
                                <li class="menu-item"><a href="#">Journals</a></li>
                                <li class="menu-item"><a href="#">Research Papers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- COPYRIGHT BAR -->
        <div class="kingster-copyright-wrapper">
            <div class="kingster-copyright-container kingster-container clearfix">
                <div class="kingster-copyright-left kingster-item-pdlr">&COPY; All Right Reserved, Dept of MACS, NITK Surathkal</div>
                <div class="kingster-copyright-right kingster-item-pdlr">
                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_1dd7_112">
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook">
                            <i class="fa fa-facebook" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus">
                            <i class="fa fa-google-plus" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin">
                            <i class="fa fa-linkedin" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype">
                            <i class="fa fa-skype" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter">
                            <i class="fa fa-twitter" ></i>
                        </a>
                        <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram">
                            <i class="fa fa-instagram" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
